[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
argparse = "*"
loguru = "*"
tqdm = "*"

[dev-packages]
pipreqs = "*"
ipdb = "*"
pylint = "*"
"autopep8" = "*"
line-profiler = "*"

[requires]
python_version = "3.6"
